@page "/"
@inject MengolNews.Services.NewsApiService NewsService
@inject NavigationManager Nav
@using NoticiaModel = MengolNews.Models.Noticia
@using MengolNews.Components
@using MengolNews.Models
<PageTitle>MengolNews – Notícias do Flamengo</PageTitle>
@if (isLoading)
{
    <div class="content">
        <section class="news-list section">
            @for (int i = 0; i < 6; i++)
            {
                <SkeletonNewsCard />
            }
        </section>
    </div>
}
else if (!isLoading && noticias.Any())
{
    <div class="content">
        <HeroCarrossel Noticias="noticias" />
        <ProximoJogo />
        <section class="news-list section">
            @foreach (var noticia in noticias.Skip(1).Take(9))
            {
                <NewsCard Noticia="noticia" />
            }
        </section>
    </div>
}
else
{
    <div class="content">
        <section class="news-list section">
            @for (int i = 0; i < 6; i++)
            {
                <SkeletonNewsCard />
            }
        </section>
    </div>
}
@code {
    private List<NoticiaModel> noticias = new();
    private bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        await InvokeAsync(StateHasChanged);
        try
        {
            var dados = await NewsService.GetNoticiasAsync();
            noticias = dados.OrderByDescending(n => n.Data).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine("ERRO AO BUSCAR NOTÍCIAS:");
            Console.WriteLine(ex.Message);
        }
        finally
        {
            isLoading = false;
            await InvokeAsync(StateHasChanged);
        }
    }
    private void AbrirNoticia(NoticiaModel noticia)
    {
        var url = Uri.EscapeDataString(noticia.Link);
        Nav.NavigateTo($"/noticia?url={url}");
    }
    private string ImagemHero =>
        noticias.Any() && !string.IsNullOrWhiteSpace(noticias[0].Imagem)
            ? noticias[0].Imagem!
            : "/images/Flamengo.png";
}